= render 'shared/breadcrumbs', data: nil
#portfolio
  %center= image_tag "icon_loading.gif", id: "loading_team";
= render "portfolio"
:javascript

  $(window).on('load', function(){
    $.get('#{INTRANET_URL}'+'/api/v1/portfolio').then(function(data){
      template = $('#portfolio-template').html();
      x = Mustache.render(template, {projects: data});
      $('#portfolio').html(x);
    })
  });
