= render 'shared/breadcrumbs', data: nil
= react_component "ProjectsContainer",{prerender: true}

:javascript
  intranet_url = "#{INTRANET_URL}"
  $(window).on('load', function(){
    window.location = window.location.href; 
  })
