/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
 
 @import "bootstrap/bootstrap.min";
 @import "others/theme";
 @import "others/bootstrap-reset";
 @import "font_awesome/font-awesome";
 @import "others/flexslider"; 
 @import "bxslider/jquery.bxslider";
 @import "fancybox/jquery.fancybox";
 @import "revolution_slider/rs-style";
 @import "revolution_slider/settings";
 @import "superfish/superfish";
 @import "superfish/superfish-vertical";
 @import "others/style";
 @import "others/style-responsive";


.we_hiring{
  padding-top: 5px;
}

.newsletter-header{
  background-color: #f39c12;
}

.newsletter-text{
  color: #333333;
}

/* CSS used here will be applied after bootstrap.css */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  width: 500px;
  height: 300px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container.flipped .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.project-img{
  height: 320px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.flip-container img {
  height: 300px;
}
